@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #14275c;
    --secondary-color: #d5def6;
    --accent: #2e59d1;
}
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: px solid black;
}

body {
    display: flex;
    height: 100vh;
    background-color: ##fbfcfe;
}

.left--side {
    width: 40vw;
    background-image: url(./images/bg-image.jpg);
    background-position: center;
    background-size: cover;
}

.logo {
    display: flex;
    position: relative;
    background-color: rgb(0.1, 0.1, 0.1, 0.3);
    height: auto;
    top: 25vh;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding: 1vh 0vw;
}

.logo img {
    height: 15vh;
    width: auto;
}

.logo h1 {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 3rem;
}